@import url("./section-one.css");
@import url("./section-two.css");
@import url("./section-three.css");
@import url("./section-four.css");
@import url("./section-five.css");
.grid-center {
  display: grid;
  place-items: center;
}
main {
  padding-top: 177.33px;
}
