.menu-mobile {
  position: fixed;
  z-index: 1000;
  width: 230px;
  height: 100vh;
  background: var(--white);
  padding: 175px 1rem;
  left: -100vw;
  transition: 0.3s;
  box-shadow: 3px 34px 5px 1px #00000025;
  overflow: auto;
}
.menu-mobile > nav > ul {
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
}
.menu-mobile > nav > ul > li > a {
  color: var(--green-dark);
  font-weight: 700;
  font-size: 0.8rem;
}
.mobile-active {
  left: 0;
}
.separator-mobile__menu {
  height: 0.5px;
  width: 100%;
  color: var(--gray);
  border: none;
  background-color: var(--gray);
}
.login-menu__mobile,
.register-menu__mobile {
  text-align: center;
}
.register-menu__mobile a {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.15em;
  background: var(--green-light);

  letter-spacing: 0.15em;
}
#registerButtonPost {
  color: var(--white);
}
