@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
:root {
  --family-one: "Lato", sans-serif;
  --green-dark: #4e704f;
  --green-med-dark: #368839;
  --green-light: #84bd86;
  --white: #ffffff;
  --black: #434343;
  --gray: #8b8b8b;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--family-one);
}
html {
  overflow-x: hidden;
}
a,
button,
input {
  text-decoration: none;
  outline: none;
}
li {
  list-style: none;
}
.flex-center {
  display: flex;
  align-items: center;
}
