@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
:root {
  --family-one: "Lato", sans-serif;
  --green-dark: #4e704f;
  --green-med-dark: #368839;
  --green-light: #84bd86;
  --white: #ffffff;
  --black: #434343;
  --gray: #8b8b8b;
  --semi-white: #fdfdfd;
  --green-whatsapp: #49c958;
  --white-chill: #f2f2f2;
  --error: #e66666;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--family-one);
}
.noScroll {
  overflow: hidden;
}
html {
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
}
.footter-special {
  box-shadow: 0px -5px 5px -5px #00000036;
  margin-top: 2rem;
}
a,
button,
input {
  text-decoration: none;
  outline: none;
}
button {
  cursor: pointer;
}
li {
  list-style: none;
}
.flex-center {
  display: flex;
  align-items: center;
}
