@import url("./root.css");

@import url("../other/ham.css");
@import url("./header.css");
@import url("./main.css");
@import url("./footer.css");

/* aditionals */

@import url("./whatsapp.css");
@import url("./mobilmenu.css");

/* modal */
@import url("./modal-info-product.css");
@import url("./modal-wish-list.css");
@import url("./mobile-menu-two.css");

/* login HTML */
@import url("./login.css");
